<a href="https://colab.research.google.com/github/vkjadon/introduction-to-deep-learning/blob/main/03kaggleDataExploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Fetch Dataset from Kaggle
- Import data from Kaggle
- Use <a href="https://www.kaggle.com/ruchi798/housing-prices-in-metropolitan-areas-of-india" target="_blank"> this Link </a>

Create a directory kaggle in root

In [ ]:
!mkdir ~/.kaggle

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Copy kaggle.json to the folder just created using the following copy command. kaggle.json is created from your personal kaggle account. It contains username and the key.

In [ ]:
!cp kaggle.json ~/.kaggle/

cp: cannot stat 'kaggle.json': No such file or directory

In [ ]:
!pwd

/content

To check the permission configuration of a file, use the command

In [ ]:
!ls -l ~/.kaggle/kaggle.json

ls: cannot access '/root/.kaggle/kaggle.json': No such file or directory

After uploading (copying) the Kaggle.json key to cloud shell, change the mode of the kaggle.json to 600 using chmod command.

In [ ]:
!chmod 600 ~/.kaggle/kaggle.json

chmod: cannot access '/root/.kaggle/kaggle.json': No such file or directory

In [ ]:
!ls -l ~/.kaggle/kaggle.json

ls: cannot access '/root/.kaggle/kaggle.json': No such file or directory

In [ ]:
%cd drive/MyDrive/Colab Notebooks/AI-ipynb/datasets

/content/drive/MyDrive/Colab Notebooks/AI-ipynb/datasets

In [ ]:
!kaggle datasets download -d ruchi798/housing-prices-in-metropolitan-areas-of-india

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 166, in authenticate
    self.config_file, self.config_dir))
OSError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [ ]:
!unzip housing-prices-in-metropolitan-areas-of-india.zip

Archive:  housing-prices-in-metropolitan-areas-of-india.zip
replace Bangalore.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Chennai.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Delhi.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Hyderabad.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Kolkata.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Mumbai.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [ ]:
import pandas as pd
pd.set_option('display.max_columns',None)

In [ ]:
!pwd

/content/drive/MyDrive/Colab Notebooks/AI-ipynb/datasets

In [ ]:
#raw_df = pd.read_csv('datasets/Delhi.csv')
raw_df = pd.read_csv('../../../datasets/housing/Delhi.csv')
raw_df

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,ShoppingMall,Intercom,SportsFacility,ATM,ClubHouse,School,24X7Security,PowerBackup,CarParking,StaffQuarter,Cafeteria,MultipurposeRoom,Hospital,WashingMachine,Gasconnection,AC,Wifi,Children'splayarea,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,10500000,1200,Sector 10 Dwarka,2,1,0,1,0,0,1,0,0,0,1,1,0,0,0,1,1,1,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0,0,0,0,0
1,6000000,1000,Uttam Nagar,3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,15000000,1350,Sarita Vihar,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2500000,435,Uttam Nagar,2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,5800000,900,Dwarka Mor,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,2500000,540,Madhu Vihar,2,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4994,3000000,540,Madhu Vihar,2,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4995,2600000,415,Sector 26 Dwarka,1,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4996,5500000,415,Sector 26 Dwarka,1,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
4997,4200000,900,Uttam Nagar,3,1,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9

In [ ]:
raw_df.info()

In [ ]:
raw_df.shape

(4998, 40)

In [ ]:
raw_df.columns

In [ ]:
type(raw_df)

pandas.core.frame.DataFrame

In [ ]:
# Show First Five rows
raw_df.head()

### Fetch ith row
`df.loc[i]`

In [ ]:
raw_df.loc[10]

In [ ]:
raw_df[raw_df['No. of Bedrooms']>6]

In [ ]:
print(raw_df['No. of Bedrooms']>6)

##Columns of your choice

In [ ]:
features=['Area', 'Location', 'No. of Bedrooms', 'Resale', 'Price']
raw_df=raw_df[features]
raw_df

In [ ]:
type(raw_df.Area)

Series - One-dimensional ndarray with axis labels

In [ ]:
raw_df.Area>100

0       True
1       True
2       True
3       True
4       True
        ...
4993    True
4994    True
4995    True
4996    True
4997    True
Name: Area, Length: 4998, dtype: bool

In [ ]:
raw_df[raw_df["Area"]>5000]

In [ ]:
raw_df[raw_df.Area>5000]

`raw_df['Area']` returns Series Object.   
Series can only contain single list with index, whereas dataframe can be made of more than one series

`raw_df[['Area', 'Location']]` returns DataFrame Object
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

**Check for NULL Values**

In [ ]:
raw_df.isna()

In [ ]:
raw_df.isna().sum()

In [ ]:
raw_df.dropna()

In [ ]:
raw_df.dtypes

### df.describe()

- Generate descriptive statistics such as the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values.  
- Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types.  
- The output will vary depending on what is provided. Refer to the notes below for more detail.  
 
`DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)`   

For more details <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html" target="_blank">Click here..</a>

In [ ]:
raw_df.describe()

,Price,Area,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,RainWaterHarvesting,IndoorGames,ShoppingMall,Intercom,SportsFacility,ATM,ClubHouse,School,24X7Security,PowerBackup,CarParking,StaffQuarter,Cafeteria,MultipurposeRoom,Hospital,WashingMachine,Gasconnection,AC,Wifi,Children'splayarea,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
count,4.998000e+03,4998.000000,4998.000000,4998.00000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.00000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.00000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000,4998.000000
mean,1.588638e+07,1277.343737,2.657863,0.80012,5.423770,5.472589,5.415966,5.435574,5.412765,5.437975,5.398359,5.398960,5.570228,5.487795,5.39916,5.460184,5.399560,5.423770,5.530812,5.490996,5.407163,5.399360,5.402961,5.39916,5.408363,5.562225,5.426971,5.394958,5.534014,5.655662,5.416367,5.456783,5.413165,5.394958,5.415566,5.408764,5.412965,5.394958,5.411565
std,4.612894e+07,915.217800,0.820605,0.39995,4.378355,4.322819,4.387116,4.365041,4.390702,4.362324,4.406770,4.406103,4.207849,4.305261,4.40588,4.337050,4.405435,4.378355,4.254905,4.301549,4.396963,4.405658,4.401649,4.40588,4.395623,4.217476,4.374752,4.410549,4.251116,4.102704,4.386668,4.340938,4.390254,4.410549,4.387565,4.395176,4.390478,4.410549,4.392045
min,2.000000e+06,200.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.900000e+06,800.000000,2.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.500000e+06,1000.000000,3.000000,1.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
75%,1.580000e+07,1650.000000,3.000000,1.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
max,8.546000e+08,16000.000000,8.000000,1.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [ ]:
raw_df[["Price", "Area"]].describe()

In [ ]:
raw_df.describe(include='all')

In [ ]:
raw_df.describe(include=[object])

       Location
count      4998
unique      339
top       Noida
freq        761

In [ ]:
raw_df["Price"].mean()

15886383.744497798

In [ ]:
raw_df[["Price", "Area"]].median()

Price    5500000.0
Area        1000.0
dtype: float64

In [ ]:
raw_df[["Price", "Location"]].groupby("Location").mean()

In [ ]:
raw_df.groupby("Location").mean()

We can use the drop parameter to avoid the old index being added as a column.

In [ ]:
raw_df[raw_df['Price']>100000000].reset_index(drop=False)

In [ ]:
raw_df[(raw_df['Price']>100000000) & (raw_df['No. of Bedrooms']>5)].reset_index(drop=True)

    Area         Location  No. of Bedrooms  Resale      Price
0  12552  Prithviraj Road                8       0  285400000
1   2520     Punjabi Bagh                6       1  450000000
2   6251     Sainik Farms                6       0  235200000

In [ ]:
raw_df.Price.mean()

15886383.744497798

In [ ]:
[(raw_df['Price']>100000000) & (raw_df['No. of Bedrooms']>5)]